@import "tailwindcss";

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

.animate-dash {
  stroke-dasharray: 6;
  stroke-dashoffset: 0;
  animation: dash 10s linear infinite;
}

/* Blur everything except the splash screen */
.blur-background > *:not(.fixed) {
  filter: blur(10px);
  transition: filter 0.4s ease;
}
